.order-collapse {
  margin-bottom: 2.4rem;
  background-color: #fff;
  border-top: 3px solid;
  -webkit-box-shadow: 0 0.2rem 0.5rem 0 rgba(147, 157, 170, 0.03);
  box-shadow: 0 0.2rem 0.5rem 0 rgba(147, 157, 170, 0.03);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden; }
  .order-collapse.green {
    border-color: #35ae47; }
  .order-collapse.blue {
    border-color: #269af1; }
  .order-collapse.gray {
    border-color: #d3d9dd; }
  .order-collapse.purple {
    border-color: #7552e0; }
  .order-collapse.coral {
    border-color: #eb3b48; }
  .order-collapse.marengo {
    border-color: #445464; }
  .order-collapse.orange {
    border-color: #f48221; }
  .order-collapse.ambar {
    border-color: #F1C40F; }
  .order-collapse.celest {
    border-color: #76D7C4; }

.order-collapse__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1.9rem; }
  .order-collapse__header h4 {
    margin-bottom: 0;
    font-size: 1em; }
  .order-collapse__header span,
  .order-collapse__header .collapse-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1em;
    color: #939daa; }
  .order-collapse__header .collapse-icon {
    font-size: 7px;
    margin-left: 5px;
    position: relative;
    top: 1px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s; }
  .order-collapse__header.collapsed .collapse-icon {
    top: 0;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center; }

.order-collapse-inner {
  border-top: 1px solid #d3d9dd; }
  .order-collapse-inner p {
    padding: 1.4rem 2.1rem; }