.vue-notifyjs.notifications{
    .list-move {
      transition: transform 0.3s, opacity 0.4s;
    }
    .list-item {
      display: inline-block;
      margin-right: 10px;
    }
    .list-enter-active {
      transition: transform 0.2s ease-in, opacity 0.4s ease-in;
    }
    .list-leave-active {
      transition: transform 1s ease-out, opacity 0.4s ease-out;
    }
    .list-enter {
      opacity: 0;
      transform: scale(1.1);
    }
    .list-leave-to {
      opacity: 0;
      transform: scale(1.2, 0.7);
    }
}

.vue-notification {
  padding: 10px;
  //margin: 5px 5px 5px 5px;
  padding-left: 10px;
  font-family: 'Raleway';
  font-style: normal;
  font-size: 12px;
  color: #fff;
  background: #44A4FC;
  border-left: 5px solid #187FE7;
}

.v-fade-left-enter-active,
.v-fade-left-leave-active,
.v-fade-left-move {
 transition: all .5s;
}
.v-fade-left-enter,
.v-fade-left-leave-to {
 opacity: 0;
 transform: translateX(-500px) scale(0.2);
}

.custom-template {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: left;
  font-size: 13px;
  margin: 5px 5px 5px 5px;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
  &, & > div {
    box-sizing: border-box;
  }
  background: #3498DB;
  border-radius: 5px;
  //border: 1px solid #D5DBDB;
  .custom-template-icon {
    flex: 0 1 auto;
    color: #15C371;
    font-size: 32px;
    padding: 0 10px;
  }
  .custom-template-close {
    flex: 0 1 auto;
    padding: 0 20px;
    font-size: 16px;
    opacity: 0.2;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
  .custom-template-content {
    width: 400px;
    padding-right: 40px;
    padding: 10px;
    flex: 1 0 auto;
    color: #fff;

    .custom-template-title {
      letter-spacing: 1px;
      //text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      padding-left: 65px;
    }
  }
  }

  .custom-templateOt {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: left;
    font-size: 13px;
    margin: 5px 5px 5px 5px;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    &, & > div {
      box-sizing: border-box;
    }
    background: #1ABC9C;
    border-radius: 5px;
    //border: 1px solid #D5DBDB;
    .custom-template-icon {
      flex: 0 1 auto;
      color: #15C371;
      font-size: 32px;
      padding: 0 10px;
    }
    .custom-template-close {
      flex: 0 1 auto;
      padding: 0 20px;
      font-size: 16px;
      opacity: 0.2;
      cursor: pointer;
  
      &:hover {
        opacity: 0.8;
      }
    }
    .custom-template-content {
      width: 400px;
      padding-right: 40px;
      padding: 10px;
      flex: 1 0 auto;
      color: #fff;
  
      .custom-template-title {
        letter-spacing: 1px;
        //text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        padding-left: 65px;
      }
    }
    }